NODE_ENV=development

CHOKIDAR_USEPOLLING=true

NUXT_PORT=3000
NUXT_SESSION_PASSWORD=change-this-session-secret-before-production

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=forum
POSTGRES_USER=forum
POSTGRES_PASSWORD=forum
